
.newsblock__button{
  background-color: transparent;
  border: 0;
}

.newsblock__pagination{
  display: flex;
}

.container__flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.flex__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex__subblock{
  border-top: 3px solid #000;
  height: 362px;
}

.flex__subblock--first{
  width: 539px;
  margin-right: 37px;
}

.flex__subblock--second{
  width: 347px;
}

.flex__subblock--third{
  width: 444px;
  margin-top: 36px;
  
}

.block__category-title{
  margin-top: 17px;
  margin-bottom: 20px;
}

.block__list{
  display: flex;
  flex-direction: column;
}

.article__category{
  position: absolute;
  top: 20px;
  left: 20px;
  border:0;
  color: #fff;
  padding: 7px 13px;
  object-fit: contain;
  border-radius: 2px;
}

.article__category--sports{
  background-color: #f9621e;
}

.article__category--politics{
  background-color: #ff5050;
}

.article__category--science{
  background-color: #1b67e2;
}

.article__category--business{
  background-color: #06a015;
}

.article__category--accidents{
  background-color: #423f3f;
}

.pagination__link{
  margin-left: 36px;
  text-decoration: none;
  color: #000;
}

.newsblock__pagination--block{
  justify-content: space-between;
  align-items: center;
  margin: 43px 0;
}

.article__figure{
  margin: 0;
  height: 279px;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.article__figure--first{
  height: 294px;
}

.article__img{
  width: 100%;
  height: 100%;
}

.article__share{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border:0;
  color: #fff;
}

.article__caption{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
}

.news__list{
  margin-bottom: 53px;
}

.list__title{
  margin-top:0;
  margin-bottom: 10px;
}

.list__description{
  display: flex;
  align-items: center;
  color: #d8d8d8;
  font-size: 11px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
}

.list__views{
  margin: 0;
  margin-right: 27px;
}

.description__icon--view{
  margin-right: 6px;
}

.caption__title{
  margin: 10px 0;
  margin-right: 5px;
}

@media (max-width: 991.98px) { 
  .flex__subblock--first,
  .flex__subblock--second,
  .flex__subblock--third{
    margin: 10px auto;
  }
}

@media (max-width: 767.98px) { 
  .flex__block{
    flex-direction: column;
  }
  .flex__subblock--first,
  .flex__subblock--second,
  .flex__subblock--third{
    margin: 10px auto;
    width: auto;
    min-height:  150px;
  }
  .flex__subblock--first{
    height: auto;
  }
  .news__list{
    margin: 20px 0;
  }
  .article__figure{
    min-height: 150px;
    height: 100%;
    width: auto;
  }
}
