
.newsblock__button{
  background-color: transparent;
  border: 0;
}

.newsblock__pagination{
  display: flex;
}

.container__grid{
  display: grid;
  grid-gap: 36px;
}

.container__grid--first{
  display: grid;
  grid-template-columns: 539px 347px;
  grid-gap: 36px;
}

.container--block{
  border-top: 3px solid #000;
  height: 362px;
}

.container--block__category-title{
  margin-top: 17px;
  margin-bottom: 20px;
}

.container--block__list{
  display: flex;
  flex-direction: column;
}

.container__grid--second{
  display: grid;
  grid-template-columns: 444px 444px;
  grid-gap: 36px;
}

.article__category{
  position: absolute;
  top: 20px;
  left: 20px;
  border:0;
  color: #fff;
  padding: 7px 13px;
  object-fit: contain;
  border-radius: 2px;
}

.article__category--sports{
  background-color: #f9621e;
}

.article__category--politics{
  background-color: #ff5050;
}

.article__category--science{
  background-color: #1b67e2;
}

.article__category--business{
  background-color: #06a015;
}

.article__category--accidents{
  background-color: #423f3f;
}

.pagination__link{
  margin-left: 36px;
  text-decoration: none;
  color: #000;
}

.newsblock__pagination--block{
  justify-content: space-between;
  align-items: center;
  margin: 43px 0;
}

.article__figure{
  margin: 0;
  height: 279px;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.article__figure--first{
  height: 294px;
}

.article__img{
  width: 100%;
  height: 100%;
}

.article__share{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border:0;
  color: #fff;
}

.article__caption{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
}

.news__list{
  margin-bottom: 53px;
}

.list__title{
  margin-top:0;
  margin-bottom: 10px;
}

.list__description{
  display: flex;
  align-items: center;
  color: #d8d8d8;
  font-size: 11px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
}

.list__views{
  margin: 0;
  margin-right: 27px;
}

.description__icon--view{
  margin-right: 6px;
}

.caption__title{
  margin: 10px 0;
  margin-right: 5px;
}

@media (max-width: 991.98px) { 
  .container__grid{
    margin: auto;
  }
  .container__grid--first{
    grid-template-columns: auto auto;
  }
  .container__grid--second{
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767.98px) { 
  .container__grid{
    grid-template-columns: auto;
  }
  .container__grid--first{
    grid-template-columns: auto;
  }
  .container__grid--second{
    grid-template-columns: auto;
  }
}
