body{
  font-family: HelveticaNeueCyr-Bold, Arial;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

ul{
  padding: 0;
}

@font-face
{
    font-family: HelveticaNeueCyr-Bold;
    src: url(./HelveticaNeueCyr-Bold.otf);
}

*:focus{
  outline: none;
}

.container{
  width: 923px;
  margin: auto;
}

.navigation__link{
  color: #d8d8d8;
  text-decoration: none;
}

.navigation__link--active{
  color: #f9621e;
}